name: Build MauiStarbucks

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  buildAndroid:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
        
    - name: List installed .NET info
      shell: pwsh
      run: dotnet --info
      
    - name: Install .NET MAUI
      shell: bash
      run: |
        dotnet nuget locals all --clear 
        dotnet workload install maui --source https://aka.ms/dotnet6/nuget/index.json --source https://api.nuget.org/v3/index.json
        dotnet workload install android ios maccatalyst tvos macos maui wasm-tools --source https://aka.ms/dotnet6/nuget/index.json --source https://api.nuget.org/v3/index.json

    - name: Restore nuget packages
      run: |
        cd src/MauiStarbucks
        dotnet restore MauiStarbucks.sln
   
    - name : Build Android App
      shell: bash
      run: |
        cd src/MauiStarbucks
        dotnet publish -f:net6.0-android -c:Release
    
    - uses: actions/upload-artifact@v2
      with:
        name: artifacts-android
        path: |
          src\MauiStarbucks\bin\Release\net6.0-android\publish\*.apk

  deployAppCenter:
    runs-on: ubuntu-latest
    steps:  
    - name: App Center Distribute
      uses: wzieba/AppCenter-Github-Action@v1.3.3
      with:
          appName: orgs/dotNET-MAUI/apps/MauiStarbucks
          token: ${{secrets.APP_CENTER_TOKEN}}
          group: Public
          file: src\MauiStarbucks\bin\Release\net6.0-android\publish\com.companyname.mauistarbucks-Signed.apk
          debug: false
      
